// Custom settings
@import "settings";

// Bootstrap components
$enable-flex: true;

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/grid";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/button-group";
@import "bootstrap/custom-forms";
@import "bootstrap/card";
@import "bootstrap/jumbotron";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/utilities-background";
@import "bootstrap/utilities-spacing";
@import "bootstrap/utilities-responsive";

// Custom components
@import "custom/card";
@import "custom/custom-forms";
@import "custom/type";
@import "custom/buttons";
@import "custom/images";
@import "custom/bordered";






