$gray-dark:     #525684;
$gray:          #767698;
$gray-light:    #A9A4B5;
$gray-lighter:  #CCD1CB;
$gray-lightest: #f8f9f8;

$brand-primary: #98BCBA;

$card-cap-bg:        transparent;
$card-border-width:  0px;
$card-bg:            transparent;


$jumbotron-bg:       transparent;


$font-family-sans-serif:     "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base:           $font-family-sans-serif;

$headings-font-family:       "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-weight:       300;
$headings-color:             $brand-primary;
$headings-line-height:       1.3;

$btn-secondary-color:            #FFF;
$btn-secondary-bg:               $gray-dark;
$btn-secondary-border:           $btn-secondary-bg;

$input-border-focus:             $brand-primary;
$input-border-color:             $gray-lighter;
$input-color-placeholder:        darken($gray-lighter,20%);
