.card-inverse {
  .card-link,
  .card-text,
  .card-blockquote > footer {
    color: $gray-lightest;
  }
}

.card-img-overlay {
  padding: 0;
}

.card-background {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.card-footer {
  padding-bottom: ($card-spacer-y * 2);
  border-top: 0;
}
