.c-input {
  > input {
    &:checked ~ .c-indicator {
      background-color: $brand-primary;
    }
    &:focus ~ .c-indicator {
      box-shadow: none;
    }

    &:active ~ .c-indicator {
      background-color: $brand-primary;
    }
  }
}

.c-indicator {
  background-color: $gray-lighter;
}
textarea {
  min-height: 146px;
}
